[{
  ensafen, [
    {destination, "http://httpbin.org/"},
    {listenAddress, {127,0,0,1}},
    {listenPort, 8080},
    {bannedRegexList, [
      {"SQL Special Chars 1", "(\\%27)|(\\')|(\\-\\-)|(\\%23)|(#)", [caseless]},
      {"SQL Special Chars 2", "((\\%3D)|(=))[^\\n]*((\\%27)|(\\')|(\\-\\-)|(\\%3B)|(;))", [caseless]},
      {"SQL Injection Attack 1", "\\w*((\\%27)|(\\'))((\\%6F)|o|(\\%4F))((\\%72)|r|(\\%52))", [caseless]},
      {"MS SQL Injection Attack 1", "exec(\\s|\\+)+(s|x)p\\w+", [caseless]}
    ]}
  ]
}].
